path {
    stroke: #d9cb00;
}

/*放大後變色*/
/*.feature.active {
    fill: #0d92d5;
}*/

.message-box{
    position:absolute;
    top: 420px;
    left: 400px;
    height: 100pt;
    width: 150pt;
}

text.detail-text{
    font-size: 20px;
    z-index:99;
    float:left;
    color: #0569c2;
    font-family: 標楷體;
}

.headlineBox{
    position: absolute;
    top: 150pt;
    left: 300pt;
    height: 100pt;
    width: 150pt;
}

.headline{
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 30px;
    color: #009988;
}

.subHeadline{
    position: relative;
    top: 10px;
    font-style: italic;
    font-family: 微軟正黑體;
    font-size: 10px;
    color: rgba(124, 75, 21, 0.96)
}

.map-layer {
    fill: #fff;
    stroke: #5d5d5d;
}

.svgPic{
    position: absolute;
    top: 5pt;
    left: 455pt;
}